.solid-js-tooltip {
  outline: inherit;
  transition: 0.1s;
  pointer-events: none;
  z-index: 1
}

.solid-js-tooltip::before {
  content: attr(data-tooltip-sr-notification);
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}
