.solid-js-tooltip {
  outline: inherit;
  /* pointer-events: none; */
  pointer-events: all;
  z-index: 1;
}

.solid-js-tooltip::before {
  content: attr(data-tooltip-sr-notification);
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.solid-js-tooltip_transition {
  /* THIS IS VERY IMPORTANT!!! */
  transition: 0.0001s;
}

.solid-js-tooltip_default-position {
  position: absolute;
  top: 0;
  left: 0;
}
