@use 'sass:map';

@mixin translate($tx, $ty) {
  transform: translate3d($tx, $ty, 0px);
}

$positions: (
  top-left-corner: (
    tx: calc(-100% + var(--tooltipable-position-x) + var(--tooltip-offset-x)),
    ty: calc(-100% + var(--tooltipable-position-y) - var(--tooltip-offset-y)),
  ),
  top-left: (
    tx: calc(var(--tooltipable-position-x) + var(--tooltip-offset-x)),
    ty: calc(-100% + var(--tooltipable-position-y) - var(--tooltip-offset-y)),
  ),
  top-center: (
    tx:
      calc(
        (var(--tooltipable-position-x) + (-50% + var(--tooltipable-width) / 2)) +
          var(--tooltip-offset-x)
      ),
    ty: calc(-100% + var(--tooltipable-position-y) - var(--tooltip-offset-y)),
  ),
  top-right: (
    tx:
      calc(
        -100% + var(--tooltipable-position-x) + var(--tooltipable-width) + var(--tooltip-offset-x)
      ),
    ty: calc(-100% + var(--tooltipable-position-y) - var(--tooltip-offset-y)),
  ),
  top-right-corner: (
    tx:
      calc(
        var(--tooltipable-position-x) + var(--tooltipable-width) +
          var(--tooltip-offset-x)
      ),
    ty: calc(-100% + var(--tooltipable-position-y) - var(--tooltip-offset-y)),
  ),
  right-top: (
    tx:
      calc(
        var(--tooltipable-position-x) + var(--tooltipable-width) +
          var(--tooltip-offset-x)
      ),
    ty: calc(var(--tooltipable-position-y) - var(--tooltip-offset-y)),
  ),
  right-center: (
    tx:
      calc(
        var(--tooltipable-position-x) + var(--tooltipable-width) +
          var(--tooltip-offset-x)
      ),
    ty:
      calc(
        -50% + var(--tooltipable-position-y) + (var(--tooltipable-height) / 2) -
          var(--tooltip-offset-y)
      ),
  ),
  right-bottom: (
    tx:
      calc(
        var(--tooltipable-position-x) + var(--tooltipable-width) +
          var(--tooltip-offset-x)
      ),
    ty:
      calc(
        -100% + var(--tooltipable-position-y) + var(--tooltipable-height) - var(--tooltip-offset-y)
      ),
  ),
  bottom-right-corner: (
    tx:
      calc(
        var(--tooltipable-position-x) + var(--tooltipable-width) +
          var(--tooltip-offset-x)
      ),
    ty:
      calc(
        var(--tooltipable-position-y) + var(--tooltipable-height) -
          var(--tooltip-offset-y)
      ),
  ),
  bottom-right: (
    tx:
      calc(
        -100% + var(--tooltipable-position-x) + var(--tooltipable-width) + var(--tooltip-offset-x)
      ),
    ty:
      calc(
        var(--tooltipable-position-y) + var(--tooltipable-height) -
          var(--tooltip-offset-y)
      ),
  ),
  bottom-center: (
    tx:
      calc(
        (var(--tooltipable-position-x) + (-50% + var(--tooltipable-width) / 2)) +
          var(--tooltip-offset-x)
      ),
    ty:
      calc(
        var(--tooltipable-position-y) + var(--tooltipable-height) -
          var(--tooltip-offset-y)
      ),
  ),
  bottom-left: (
    tx: calc(var(--tooltipable-position-x) + var(--tooltip-offset-x)),
    ty:
      calc(
        var(--tooltipable-position-y) + var(--tooltipable-height) -
          var(--tooltip-offset-y)
      ),
  ),
  bottom-left-corner: (
    tx: calc(-100% + var(--tooltipable-position-x) + var(--tooltip-offset-x)),
    ty:
      calc(
        var(--tooltipable-position-y) + var(--tooltipable-height) -
          var(--tooltip-offset-y)
      ),
  ),
  left-bottom: (
    tx: calc(-100% + var(--tooltipable-position-x) + var(--tooltip-offset-x)),
    ty:
      calc(
        -100% + var(--tooltipable-position-y) + var(--tooltipable-height) - var(--tooltip-offset-y)
      ),
  ),
  left-center: (
    tx: calc(-100% + var(--tooltipable-position-x) + var(--tooltip-offset-x)),
    ty:
      calc(
        -50% + var(--tooltipable-position-y) + (var(--tooltipable-height) / 2) -
          var(--tooltip-offset-y)
      ),
  ),
  left-top: (
    tx: calc(-100% + var(--tooltipable-position-x) + var(--tooltip-offset-x)),
    ty: calc(var(--tooltipable-position-y) - var(--tooltip-offset-y)),
  ),
);

@each $position-name, $position-value in $positions {
  $tx: map-get($positions, $position-name, 'tx');
  $ty: map-get($positions, $position-name, 'ty');

  .solid-js-tooltip-position__#{$position-name} {
    @include translate($tx, $ty);
  }
}

// .solid-js-tooltip-position__top-left-corner {
//   @include translate(
//     calc(-100% + var(--tooltipable-position-x) + var(--tooltip-offset-x)),
//     calc(-100% + var(--tooltipable-position-y) - var(--tooltip-offset-y))
//   );
// }

// .solid-js-tooltip-position__top-left {
//   @include translate(
//     calc(var(--tooltipable-position-x) + var(--tooltip-offset-x)),
//     calc(-100% + var(--tooltipable-position-y) - var(--tooltip-offset-y))
//   );
// }

// .solid-js-tooltip-position__top-center {
//   @include translate(
//     calc(
//       (var(--tooltipable-position-x) + (-50% + var(--tooltipable-width) / 2)) +
//         var(--tooltip-offset-x)
//     ),
//     calc(-100% + var(--tooltipable-position-y) - var(--tooltip-offset-y))
//   );
// }

// .solid-js-tooltip-position__top-right {
//   @include translate(
//     calc(
//       -100% + var(--tooltipable-position-x) + var(--tooltipable-width) + var(--tooltip-offset-x)
//     ),
//     calc(-100% + var(--tooltipable-position-y) - var(--tooltip-offset-y))
//   );
// }

// .solid-js-tooltip-position__top-right-corner {
//   @include translate(
//     calc(
//       var(--tooltipable-position-x) + var(--tooltipable-width) +
//         var(--tooltip-offset-x)
//     ),
//     calc(-100% + var(--tooltipable-position-y) - var(--tooltip-offset-y))
//   );
// }

// .solid-js-tooltip-position__right-top {
//   @include translate(
//     calc(
//       var(--tooltipable-position-x) + var(--tooltipable-width) +
//         var(--tooltip-offset-x)
//     ),
//     calc(var(--tooltipable-position-y) - var(--tooltip-offset-y))
//   );
// }

// .solid-js-tooltip-position__right-center {
//   @include translate(
//     calc(
//       var(--tooltipable-position-x) + var(--tooltipable-width) +
//         var(--tooltip-offset-x)
//     ),
//     calc(
//       -50% + var(--tooltipable-position-y) + (var(--tooltipable-height) / 2) - var(--tooltip-offset-y)
//     )
//   );
// }

// .solid-js-tooltip-position__right-bottom {
//   @include translate(
//     calc(
//       var(--tooltipable-position-x) + var(--tooltipable-width) +
//         var(--tooltip-offset-x)
//     ),
//     calc(
//       -100% + var(--tooltipable-position-y) + var(--tooltipable-height) - var(--tooltip-offset-y)
//     )
//   );
// }

// .solid-js-tooltip-position__bottom-right-corner {
//   @include translate(
//     calc(
//       var(--tooltipable-position-x) + var(--tooltipable-width) +
//         var(--tooltip-offset-x)
//     ),
//     calc(
//       var(--tooltipable-position-y) + var(--tooltipable-height) -
//         var(--tooltip-offset-y)
//     )
//   );
// }

// .solid-js-tooltip-position__bottom-right {
//   @include translate(
//     calc(
//       -100% + var(--tooltipable-position-x) + var(--tooltipable-width) + var(--tooltip-offset-x)
//     ),
//     calc(
//       var(--tooltipable-position-y) + var(--tooltipable-height) -
//         var(--tooltip-offset-y)
//     )
//   );
// }

// .solid-js-tooltip-position__bottom-center {
//   @include translate(
//     calc(
//       (var(--tooltipable-position-x) + (-50% + var(--tooltipable-width) / 2)) +
//         var(--tooltip-offset-x)
//     ),
//     calc(
//       var(--tooltipable-position-y) + var(--tooltipable-height) -
//         var(--tooltip-offset-y)
//     )
//   );
// }

// .solid-js-tooltip-position__bottom-left {
//   @include translate(
//     calc(var(--tooltipable-position-x) + var(--tooltip-offset-x)),
//     calc(
//       var(--tooltipable-position-y) + var(--tooltipable-height) -
//         var(--tooltip-offset-y)
//     )
//   );
// }

// .solid-js-tooltip-position__bottom-left-corner {
//   @include translate(
//     calc(-100% + var(--tooltipable-position-x) + var(--tooltip-offset-x)),
//     calc(
//       var(--tooltipable-position-y) + var(--tooltipable-height) -
//         var(--tooltip-offset-y)
//     )
//   );
// }

// .solid-js-tooltip-position__left-bottom {
//   @include translate(
//     calc(-100% + var(--tooltipable-position-x) + var(--tooltip-offset-x)),
//     calc(
//       -100% + var(--tooltipable-position-y) + var(--tooltipable-height) - var(--tooltip-offset-y)
//     )
//   );
// }

// .solid-js-tooltip-position__left-center {
//   @include translate(
//     calc(-100% + var(--tooltipable-position-x) + var(--tooltip-offset-x)),
//     calc(
//       -50% + var(--tooltipable-position-y) + (var(--tooltipable-height) / 2) - var(--tooltip-offset-y)
//     )
//   );
// }

// .solid-js-tooltip-position__left-top {
//   @include translate(
//     calc(-100% + var(--tooltipable-position-x) + var(--tooltip-offset-x)),
//     calc(var(--tooltipable-position-y) - var(--tooltip-offset-y))
//   );
// }
